form ul{list-style-type: none;}
form ul li{clear: both;height: auto;padding-bottom: 30px;position: relative;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;margin-bottom: -12px;visibility: hidden;}
.clearfix {display: block;}
label {padding-left: 0px;width: 100px;color: #3C3C3C;float: left;text-align:left;}
input[type="text"], select, textarea, .textarea {background: none repeat scroll 0 0 #F0EFE9;border: 1px solid #938F77;color: #3C3C3C;float: left;font: 13px;outline: medium none;padding: 4px;width: 350px;}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    }
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
    }
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
    }
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
    }
 .error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
  }
#recaptcha_widget_div{
     margin-left:110px !important;
 }
form em{
margin-left: 340px;
}